html{
    scroll-behavior: smooth;
}

  #top {
    background-image: url("../images/assets/backgrounds/h_img.jpg");
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Merriweather";
    display: flex;
    text-align: center;
    background-size: cover;

  }
  #about h1{
     text-align: center;
  }
  .row {
    width: 100%;
    color: white;
  }
   .row img:first-child {
    margin-bottom: 2.5%;
    margin-top: 70px;
  }
  .About {
    background-color: white;
    padding: 10px;
    font-size: 2.5vh;
    font-weight: bold;
  }
  #about p {
    text-align: center;
  }
  .services h1{
    text-align: center;
  }
  .services {
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
    font-size: 2.5vh;
    font-weight: bold;
  }
  .services p{
    text-align: center;
  }
  .About, .services {
    font-family: "Lora";
  }
   h3 {
    text-align: center;
    font-family: Spectral;
  }
  
  div#what-we-do-title {
      padding-top: 2%;
  }
  
  div#portfolio h3 {
      padding: 2%;
      font-family: Spectral;
  }
  
  .portfolio h1{
    text-align: center;
    /* padding-bottom: 3%; */
    padding-top:3%;
    margin-top: 20%;
  }
  
  .portfolio img{
  width:100%;
  height: auto;
  }
  
  .portoverlay1,.portoverlay2, .portoverlay3,.portoverlay4,.portoverlay5,.portoverlay6,.portoverlay7,.portoverlay8{
      width:95%;
      color:white;
      height:91%;
      position: absolute;
      top:0;
      background-color: rgba(0, 0, 0, 0.7);
      display:none;
  
  }
  
  .port1{
    padding-top:3%;
  }
  
  img.w-100 {
    padding-bottom: 3%;
  }
  .overlaycontent,.overlaycontent1,.overlaycontent2,.overlaycontent3,.overlaycontent4,.overlaycontent5,.overlaycontent6,.overlaycontent7:hover{
  
   width:90%;
   margin-top: 35%;
   margin-left: 5%;
   height: 90%;
   position: relative;
  }
  
  .portoverlay1 h1,.portoverlay2 h1,.portoverlay3 h1,.portoverlay4 h1,.portoverlay5 h1,.portoverlay6 h1,.portoverlay7 h1,.portoverlay8 h1{
      padding-top: 3%;
      text-align: left;
      font-weight: 800px;
      font-size: 30px;
      font-family: Spectral;
  
  }
  
  #structure img{
    margin-left: 250px;
  }
  #design-text{
    display: none;
    color: #000;
    text-align: center;
    margin-top: 5%;
  }
  #development-text{
    display: none;
    color: black;
    text-align: center;
    margin-top: 5%;
  }
  #management-text{
    display: none;
    color: black;
    text-align: center;
    margin-top: 5%;
  }
  #design{
    margin-top: 5%;
    margin-right: 40%;
    color: #000;
    text-align: center;
    
  }
  #design h5{
    margin-top: 30px;
    margin-left: 70%;
    font-weight: bold;
  }
  #development {
    margin-top:10%;
    margin-right: 40%;
  }
  #development h5{
    color: black;
    margin-top:30px;
    margin-left: 70%;
    font-weight: bold;
  }
  #management {
    margin-top: 8%;
    margin-right: 30%;
  }
  #management h5{
    color: #000;
    margin-top: 5%;
    margin-left: 70%;
    font-weight: bold;
  }
  
.Contacts{
background-image: url("../images/assets/backgrounds/c_image.jpg");
background-repeat: no-repeat;
background-position: center;
height: 60vh;
background-size: cover;
 margin-top: 5%;
 }
.Contacts h1{
text-align: center;
font-weight: bold;
color: white;
}
#username{
width: 50vh;
margin-left:50vh;
padding: 2%;
color:white;
}
#email{
margin-left: 50vh;
color: white;
}
#message{
margin-left:50vh;
color: white;
width: 110vh;
margin-top: 5%;
}
#submit{
margin-left: 80vh;
margin-top: 5%;
}
#copyright{
  margin-left: 100vh;
  margin-top: 1%;
  font-weight: bold;
}